<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1184">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Contact Us</span>
      <h2 class="cs-title">Get In Touch</h2>
      <!--Form-->
      <form
        class="cs-form"
        id="cs-form-1184"
        name="Contact Form"
        method="post"
        data-netlify="true"
      >
        <label class="cs-label">
          Name
          <input
            class="cs-input"
            required
            type="text"
            id="name-1184"
            name="name"
            placeholder="Name"
          />
        </label>
        <label class="cs-label cs-email">
          Email
          <input
            class="cs-input"
            required
            type="email"
            id="email-1184"
            name="email"
            placeholder="Email"
          />
        </label>
        <label class="cs-label cs-phone">
          Phone
          <input
            class="cs-input"
            required
            type="phone"
            id="phone-1184"
            name="phone"
            placeholder="Phone"
          />
        </label>
        <label class="cs-label">
          Message
          <textarea
            class="cs-input cs-textarea"
            required
            name="Message"
            id="message-1184"
            placeholder="Write message..."
          ></textarea>
        </label>
        <button class="button-solid cs-submit" type="submit">
          Get In Touch
        </button>
      </form>
    </div>
  </div>
</section>
