<footer>
  <img
    aria-hidden="true"
    class="footer-img light-mode-svg"
    src="https://d33wubrfki0l68.cloudfront.net/c272e13f11fec5e8a82b6342bc194b3eb74b5b72/7cf10/images/footer-swoosh.svg"
    alt=""
  />
  <img
    aria-hidden="true"
    class="footer-img dark-mode-svg"
    src="https://d33wubrfki0l68.cloudfront.net/3b756ae30ef51ccd8564c2978ea8a5a70f1931f8/95db7/images/footer-swoosh-dark.svg"
    alt=""
  />
  <div class="container">
    <div class="flex-group">
      <div class="footer-item image-box">
        <img
          class="footer-logo mobile-display"
          src="/assets/images/cwd-black.png"
          alt="oak harbor web designs logo"
          height="50"
        />
        <img
          class="footer-logo desktop-display"
          src="/assets/images/cwd-black.png"
          alt="oak harbor web designs logo"
          height="50"
        />
        <a href="mailto:jake@cactuswebdesign.com">jake@cactuswebdesign.com</a>
        <a href="tel:219-576-2539">(219) 576-2539</a>
      </div>
      <div class="footer-item">
        <h2>Navigation</h2>
        <div aria-hidden="true" class="footer-line"></div>
        <a class="link" href="/">Home</a>
        <a class="link" href="/about">About</a>
        <a class="link-long" href="/services">Services</a>
        <a class="link-long" href="/#portfolio">Portfolio</a>
        <a class="link-long" href="/contact">Contact</a>
      </div>
      <div class="footer-item">
        <h2>Services</h2>
        <div aria-hidden="true" class="footer-line"></div>
        <p>Web Design</p>
        <p>Website Maintenance</p>
        <p>SEO Services</p>
        <p>Content Creation</p>
        <p>Logo Design</p>
      </div>
    </div>
  </div>
  <div class="branding">
    <p>
      Copyright &copy; {% year %} | Cactus Web Designs | All Rights Reserved
    </p>
  </div>
</footer>
