<header>
  <!-- Desktop Navbar -->
  <div class="mobile-wrapper">
    <div class="mobile-nav container mobile-nav-container">
      <a href="/" class="cs-logo" aria-label="back to home">
        <!-- <img
          src="/assets/svgs/logo-black.svg"
          alt="logo"
          width="210"
          height="29"
          aria-hidden="true"
          decoding="async"
        /> -->
      </a>
      <!-- Hamburger Menu -->
      <button
        aria-label="open the menu"
        id="menu-button"
        class="hamburger hamburger--spring"
        onclick="toggleNav()"
        type="button"
      >
        <span aria-hidden="true" class="hamburger-box">
          <span aria-hidden="true" class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>

  <!-- ============================================ -->
  <!--                   NAVIGATION                 -->
  <!-- ============================================ -->

  <nav>
    <div class="navbar-menu">
      <div id="side-menu" class="side-nav">
        <!-- <a href="/" class="cs-logo" aria-label="back to home"> -->
        <img
          src="/assets/images/cwd-black.png"
          alt="logo"
          width="210"
          height="29"
          aria-hidden="true"
          decoding="async"
        />
        <!-- </a> -->
        <ul id="on-top" class="navbar-links">
          <li class="nav-li"><a href="/">Home</a></li>
          <li class="nav-li"><a href="/about">About</a></li>
          <li class="nav-li"><a href="/services">Services</a></li>
          <li class="nav-li"><a href="/portfolio">Portfolio</a></li>
          <!-- <li class="nav-li"><a href="/blog/recent-posts">Blog</a></li> -->
          <li class="nav-li"><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
