<!-- ============================================ -->
<!--                   PRICING                    -->
<!-- ============================================ -->

<section id="prices" class="section">
  <div class="container">
    <div class="price-box">
      <h2>E-Commerce</h2>
      <span>STARTING AT</span>
      <h3 class="not-mo">8K</h3>
      <ul>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="$8000 min. Up Front Cost"
          />
          $8000 min. Up Front Cost
        </li>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="Custom Designed"
          />
          Custom Designed
        </li>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="Custom Coded Shopify Integration"
          />
          Custom Coded Shopify Integration
        </li>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="Easy to edit"
          />
          Easy to edit
        </li>
      </ul>
      <button
        class="button-solid services-button"
        onclick="location.href='/contact'"
        type="button"
      >
        CONTACT US
      </button>
    </div>
    <div class="price-box">
      <h2>Standard</h2>
      <span>5 PAGES</span>
      <h3>150</h3>
      <ul>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="Unlimited Edits"
          />
          Unlimited Edits
        </li>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="Includes Hosting"
          />
          Includes Hosting
        </li>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="24/7 Customer Service"
          />
          24/7 Customer Service
        </li>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="Lifetime Updates"
          />
          Lifetime Updates
        </li>
      </ul>
      <button
        class="button-solid"
        onclick="location.href='/contact'"
        type="button"
      >
        CONTACT US
      </button>
    </div>
    <div class="price-box">
      <h2>Logos & Graphic Design</h2>
      <span>INCLUDED!</span>
      <h3>0</h3>
      <ul>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="2 revisions"
          />
          2 revisions
        </li>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="All File Formats"
          />
          All File Formats
        </li>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="Ready to use"
          />
          Ready to use
        </li>
        <li>
          <img
            aria-hidden="true"
            src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg"
            alt="FREE w/ Subscription"
          />
          FREE w/ Subscription
        </li>
      </ul>
      <button
        class="button-solid services-button"
        onclick="location.href='/contact'"
        type="button"
      >
        CONTACT US
      </button>
    </div>
  </div>
</section>
