---
title: "Contact"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "contact/"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/contact.css" />
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="page-header">
  <h1>Contact</h1>
</section>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1271">
  <div class="cs-container">
    <div class="cs-form-group">
      <h3 class="cs-h3">
        <picture class="cs-picture">
          <img
            loading="lazy"
            decoding="async"
            src="../../assets/svgs/calendar.svg"
            alt="clipboard"
            width="32"
            height="32"
          />
        </picture>
        We are thrilled to hear from you and learn about your project needs.
      </h3>
      <!--Form-->
      <form
        class="cs-form"
        id="cs-form-1271"
        name="Contact Form"
        method="post"
        data-netlify="true"
      >
        <label class="cs-label">
          Name
          <input
            class="cs-input"
            required
            type="text"
            id="name-1271"
            name="name"
            placeholder="Name"
          />
        </label>
        <label class="cs-label cs-email">
          Email
          <input
            class="cs-input"
            required
            type="email"
            id="email-1271"
            name="email"
            placeholder="Email"
          />
        </label>
        <label class="cs-label cs-phone">
          Phone
          <input
            class="cs-input"
            required
            type="phone"
            id="phone-1271"
            name="phone"
            placeholder="Phone"
          />
        </label>
        <label class="cs-label">
          Message
          <textarea
            class="cs-input cs-textarea"
            required
            name="Message"
            id="message-1271"
            placeholder="Write message..."
          ></textarea>
        </label>
        <button class="button-solid cs-submit" type="submit">
          Make an Appointment
        </button>
      </form>
    </div>
    <div class="cs-wrapper">
      <div class="cs-content">
        <span class="cs-topper">Contact us</span>
        <h2 class="cs-title">Contact Us for Your Custom Website Needs</h2>
        <!-- <p class="cs-text">
          These "Micro Stitches" are to be placed inside the .cs-content group
          of Side By Side Stitches. Typically after the .cs-title or .cs-text.
          They are used to add more design flair to a Stitch as well as convey
          more information in a different way.
        </p> -->
        <!--                   
    These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
-->

        <ul id="list-823" class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/sheild.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
            />
            100% hand coded, we stay away from Wordpress, frameworks and
            pagebuilders.
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              src="../../assets/svgs/pen.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
            />
            Our designs are fully customizable. No matter what your taste, we
            make it happen!
          </li>

          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              src="../../assets/svgs/phone2.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="40"
              height="40"
            />
            Help is one call away. When you call, the lead developer always
            answers.
          </li>
        </ul>

        <!-- <p class="cs-text">
          Fill out our construction contact form and let us know about your
          project needs. Our team of experts will get back to you within 24-48
          hours to discuss your project details and provide you with a
          customized quote.
        </p> -->
      </div>
    </div>
  </div>

  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="
        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg
      "
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="
        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg
      "
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg"
      alt="waves"
      width="960"
      height="839"
    />
  </picture>
</section>

{% endblock %}
