---
title: "Our Services"
description: "Discover bespoke web design services tailored for small businesses at Cactus Web Designs. Our experts craft pixel-perfect websites to boost your online presence, enhance user engagement, and drive growth. Get a custom, responsive design that reflects your brand's uniqueness and meets your business needs. Start your journey to a stunning online presence with us today."
preloadImg: "/assets/svgs/computer.svg"
permalink: "services/"
eleventyNavigation:
  key: Services
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->
<section id="page-header">
  <h1>Services</h1>
</section>

<div class="section container">
  <div class="who-topper container">
    <h2><span>OUR </span> PROCESS</h2>
  </div>

  <div class="gradient-cards">
    <div class="card">
      <div class="container-card bg-green-box">
        <img
          src="../../assets/svgs/computer.svg"
          alt="icon mockup of a computer"
        />
        <p class="card-title">1. Review Site</p>
        <p class="card-description">
          Before we get started, we want to know if you have a site, is it
          currently organized, and whether it’s in-line with the best practices
          for your industry. If not, all the better, we start from scratch.
          We’ll make suggestions for how to re-organize your pages and
          navigation, visually delivered via wireframe.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="container-card bg-white-box">
        <img
          src="../../assets/svgs/assets.svg"
          alt="icon mockup representing assets"
        />
        <p class="card-title">2. Collect Website Assets</p>
        <p class="card-description">
          Maintaining brand consistency is important in a website, as visitors
          should recognize immediately that it's your brand. We will collect
          assets to properly represent your brand.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="container-card bg-yellow-box">
        <img
          src="../../assets/svgs/hammer.svg"
          alt="icon mockup representing creating design"
        />
        <p class="card-title">3. Create Design</p>
        <p class="card-description">
          We will create a design for you and go over it together. You will
          point out changes you’d like to see and the parts we got just right so
          it is tailored for you and your brand.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="container-card bg-blue-box">
        <img
          src="../../assets/svgs/quality.svg"
          alt="icon mockup representing quality assurance"
        />
        <p class="card-title">4. Conduct Quality Assurance Testing</p>
        <p class="card-description">
          Once you give us the thumbs-up on your custom web design, we’ll make
          sure the look and layout remain consistent across all devices
          (desktop, mobile and tablet) operating systems (including iOS and
          Android) and browsers, (Google Chrome, Mozilla Firefox, Safari and
          others).
        </p>
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" class="paper-airplane-path container">
  <div class="line-box">
    <div class="svg-div">
      <img
        aria-hidden="true"
        src="../../assets/svgs/cactus-arrow.svg"
        alt="arrow as a cactus"
      />
    </div>
  </div>
</div>
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1126">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <!--Circle Graphic-->
      <img
        class="cs-graphic"
        loading="lazy"
        decoding="async"
        src="../../assets/svgs/design-sbs.svg"
        alt="graphic representing quality design"
        width="641"
        height="660"
        aria-hidden="true"
      />
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Design</span>
      <h2 class="cs-title">Web Design & Development Done Differently</h2>
      <p class="cs-text">
        What makes us unique in the development world is that we don't use
        WordPress, frameworks, or page builders. We meticulously write the code
        line by line. This gives us much more control over the design, and the
        website performs lightning fast because there's no bloated or messy code
        that slows it down.
      </p>
      <p class="cs-text">
        Websites built by hand will out-perform most WordPress sites and drag
        and drop page builders which could cost thousands of dollars. When it
        comes to the web, the faster and more organized websites win.
      </p>
    </div>
  </div>
</section>

<div id="seo">
  <div aria-hidden="true" class="paper-airplane-path container">
    <div class="line-box">
      <div class="svg-div">
        <img
          aria-hidden="true"
          src="../../assets/svgs/cactus-arrow.svg"
          alt="cactus arrow"
        />
      </div>
    </div>
  </div>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1125">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <!--Circle Graphic-->
      <img
        class="cs-graphic"
        loading="lazy"
        decoding="async"
        src="../../assets/svgs/graph.svg"
        alt="graphic representing seach enging optimization"
        width="641"
        height="660"
        aria-hidden="true"
      />
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">SEO</span>
      <h2 class="cs-title">Search Engine Optimization</h2>
      <p class="cs-text">
        SEO is really important for small business websites because it helps
        them show up higher on search engine results, which means more people
        can find them easily. It's a cost-effective way to get noticed online,
        especially when competing against bigger companies. With the right
        keywords and a website that's easy to use, small businesses can draw in
        more visitors and turn them into customers, helping their business grow.
      </p>
      <ul class="cs-ul">
        <div class="list-item2">
          <!--SVG-->
          <div class="list-item-content">
            <p>Keyword-Centered Content & Blogs</p>
          </div>
        </div>
        <div class="list-item2">
          <!--SVG-->
          <div class="list-item-content">
            <p>Mobile-First-Optimized for the Best Experience</p>
          </div>
        </div>
        <div class="list-item2">
          <!--SVG-->
          <div class="list-item-content">
            <p>Clean & Organized Code Structure For Web Crawlers</p>
          </div>
        </div>
        <div class="list-item2">
          <!--SVG-->
          <div class="list-item-content">
            <p>Fully Responsive For Mobile, Tablet, & Desktop</p>
          </div>
        </div>
      </ul>
    </div>
  </div>
</section>

<div aria-hidden="true" class="paper-airplane-path container">
  <div class="line-box">
    <div class="svg-div">
      <img
        aria-hidden="true"
        src="../../assets/svgs/cactus-arrow.svg"
        alt="cactus arrow"
      />
    </div>
  </div>
</div>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1126">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <!--Circle Graphic-->
      <img
        class="cs-graphic"
        loading="lazy"
        decoding="async"
        src="../../assets/svgs/updates.svg"
        alt="graphic representing lifetime updates"
        width="641"
        height="660"
        aria-hidden="true"
      />
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Lifetime Updates</span>
      <h2 class="cs-title">Lifetime Updates For Your Website</h2>
      <p class="cs-text">
        Google often tweaks how its search works, changing what makes a website
        rank well. Plus, the rules for making sites easy to use for people with
        screen readers get updated too. That's why we include ongoing updates
        for your website, making sure it stays up-to-date and keeps up with the
        times.
      </p>
      <ul class="cs-ul">
        <div class="list-item2">
          <!--SVG-->
          <div class="list-item-content">
            <p>
              If you ever want a new design, we will rebuild your website at no
              extra cost.
            </p>
          </div>
        </div>
        <div class="list-item2">
          <!--SVG-->
          <div class="list-item-content">
            <p>
              Staying on top of the latest guidelines for web accessibility
              compliance.
            </p>
          </div>
        </div>

        <div class="list-item2">
          <!--SVG-->
          <div class="list-item-content">
            <p>
              Your website will stay up to date with Google's search guidelines
              for ranking.
            </p>
          </div>
        </div>

        <div class="list-item2">
          <!--SVG-->
          <div class="list-item-content">
            <p>
              We also help optimize and manage your Google, Bing, & Yahoo
              Business Profile.
            </p>
          </div>
        </div>
      </ul>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--               WEB DEVELOPMENT                -->
<!-- ============================================ -->

{% include 'components/price-box.html' %} {% endblock %}
