/* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0em) {
  #gallery {
    /* Centers button */
    text-align: center;
    padding: var(--sectionPadding);
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
  }
  #gallery .cs-container {
    width: 100%;
    max-width: 82.625em;
    margin: auto;
  }
  #gallery .cs-image-group {
    /* used rem so it doesn't scale with the font size of on parent */
    font-size: min(1.1vw, 1em);
    width: 100%;
    max-width: 82.625em;
    margin: 0 auto 3.75rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875em;
  }
  #gallery .cs-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875em;
  }
  #gallery .cs-picture {
    display: block;
    position: relative;
  }
  #gallery .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #gallery .cs-row-1 .cs-picture1 {
    width: 26.25em;
    height: 35.4375em;
  }
  #gallery .cs-row-1 .cs-picture2 {
    width: 26.25em;
    height: 39.3125em;
  }
  #gallery .cs-row-1 .cs-picture3 {
    width: 26.25em;
    height: 32em;
  }
  #gallery .cs-row-2 .cs-picture1 {
    width: 26.25em;
    height: 30.75em;
  }
  #gallery .cs-row-2 .cs-picture2 {
    width: 26.25em;
    height: 32.3125em;
  }
  #gallery .cs-row-2 .cs-picture3 {
    width: 26.25em;
    height: 39.3125em;
  }
  #gallery .cs-row-3 .cs-picture1 {
    width: 26.25em;
    height: 39.0625em;
  }
  #gallery .cs-row-3 .cs-picture2 {
    width: 26.25em;
    height: 28.25em;
  }
  #gallery .cs-row-3 .cs-picture3 {
    width: 26.25em;
    height: 39.3125em;
  }
}
.paper-airplane-path {
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}

.line-box {
  height: 100px;
  width: 80%;
  border-left: 2px solid rgba(100, 100, 100, 0.4);
  border-bottom: 2px solid rgba(100, 100, 100, 0.4);
  position: relative;
  margin: auto;
}

.line-box:after {
  content: "";
  position: absolute;
  height: 100px;
  border-right: 2px solid rgba(100, 100, 100, 0.4);
  right: 0;
  bottom: -100px;
  width: 10px;
}

.svg-div {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  width: 50px;
  height: auto;
  right: -28px;
  bottom: -200px;
}

.paper-airplane-path svg {
  width: 50px;
  height: auto;
  -webkit-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  transform: rotate(100deg);
}

#seo .paper-airplane-path {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-top: 100px;
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1126 {
    padding: var(--sectionPadding);
    padding-top: 13rem;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
  }
  #sbsr-1126 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #sbsr-1126 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1126 .cs-topper {
    color: var(--primary);
  }
  #sbsr-1126 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-1126 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1126 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding-left: 1.25rem;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbsr-1126 .cs-li {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    list-style: none;
    text-align: left;
    width: 100%;
    max-width: 25rem;
    margin: 0;
    color: var(--bodyTextColor);
    position: relative;
  }
  #sbsr-1126 .cs-li:before {
    /* bullet */
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0.625rem;
    left: -0.9375rem;
  }
  #sbsr-1126 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: var(--bodyTextColor);
    min-width: 12.5rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbsr-1126 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.5rem;
    transition: width 0.3s;
  }
  #sbsr-1126 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-1126 .cs-image-group {
    /* scaling entire section down. font-size starts at a min in vw, and stops when that value reaches 1em (16px). Since we want the picture elements to base their font size on the parent and not the root, we use ems for this entire section  */
    font-size: min(1.9vw, 0.64em);
    width: 41.0625em;
    height: 42.25em;
    /* offset the amount the cs-graphic overflows the container so it stays centerd on mobile and tablet, removed at desktop */
    margin-right: 6.75em;
    position: relative;
    z-index: 1;
  }
  #sbsr-1126 .cs-picture {
    width: 41.0625em;
    height: 42.25em;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  #sbsr-1126 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-1126 .cs-graphic {
    width: 40.0625em;
    height: auto;
    position: absolute;
    right: -6.75em;
    top: 0;
    z-index: -1;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1126 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #sbsr-1126 .cs-image-group {
    /* reset the scale */
    font-size: min(1.2vw, 1em);
    margin: 0;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-1126 .cs-content {
    width: 45%;
    /* prevent flexbox from squishing it */
    flex: none;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1125 {
    padding: var(--sectionPadding);
    padding-top: 13rem;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
  }
  #sbs-1125 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #sbs-1125 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1125 .cs-topper {
    color: var(--primary);
  }
  #sbs-1125 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1125 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1125 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding-left: 1.25rem;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbs-1125 .cs-li {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    list-style: none;
    text-align: left;
    width: 100%;
    max-width: 25rem;
    margin: 0;
    color: var(--bodyTextColor);
    position: relative;
  }
  #sbs-1125 .cs-li:before {
    /* bullet */
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0.625rem;
    left: -0.9375rem;
  }
  #sbs-1125 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: var(--bodyTextColor);
    min-width: 12.5rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1125 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.5rem;
    transition: width 0.3s;
  }
  #sbs-1125 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1125 .cs-image-group {
    /* scaling entire section down. font-size starts at a min in vw, and stops when that value reaches 1em (16px). Since we want the picture elements to base their font size on the parent and not the root, we use ems for this entire section  */
    font-size: min(1.9vw, 0.64em);
    width: 41.0625em;
    height: 42.25em;
    /* offset the amount the cs-graphic overflows the container so it stays centerd on mobile and tablet, removed at desktop */
    margin-left: 6.75em;
    position: relative;
    z-index: 1;
  }
  #sbs-1125 .cs-picture {
    width: 41.0625em;
    height: 42.25em;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  #sbs-1125 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1125 .cs-graphic {
    width: 40.0625em;
    height: auto;
    position: absolute;
    left: -6.75em;
    top: 0;
    z-index: -1;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1125 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #sbs-1125 .cs-image-group {
    /* reset the scale */
    font-size: min(1.2vw, 1em);
    margin: 0;
  }
  #sbs-1125 .cs-content {
    width: 45%;
    /* prevent flexbox from squishing it */
    flex: none;
  }
}
.gradient-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; /* Maintains space between cards */
  margin-top: 70px;
}

@media screen and (max-width: 991px) {
  .gradient-cards {
    grid-template-columns: 1fr; /* Full width on smaller screens */
  }
}
.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: var(--bodyTextColor);
  font-weight: 600;
  line-height: 60px;
}

.card {
  flex: 1 1 calc(50% - 32px); /* Adjusts the card size minus the gap */
  display: flex;
  flex-direction: column;
}

.container-card {
  position: relative;
  background-clip: padding-box;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(50% - 32px); /* Adjusts the card size minus the gap */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  border: 1px solid transparent;
  border-bottom: 5px solid var(--primary);
  padding: 40px;
}

.container-card img {
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  width: 100%; /* makes image width 100% of its parent container */
  height: auto; /* maintains aspect ratio */
  max-width: 200px; /* maximum width */
  max-height: 200px; /* maximum height */
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.card-title {
  font-weight: 600;
  color: var(--bodyTextColor);
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
  text-align: left;
  align-self: flex-start;
}

.card-description {
  line-height: 32px;
  font-size: 16px;
  max-width: 470px;
}

/*# sourceMappingURL=projects.css.map */
