---
title: "Small Business Web Design + Development"
description: "Elevate your small business with our web design company's specialized pixel perfect designs. Maximize your online potential and attract more customers."
preloadImg: "/assets/images/bg7-compressed.png"
permalink: "/"
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->
<!-- <canvas id="canv" width="32" height="32"> -->
<section id="landing" class="section">
  <div class="container" id="canv">
    <h1>Small Business Web Design + Development</h1>
    <h2>
      No page builders or WordPress - We offer 100% hand-coded websites with
      superior results starting at $150/mo.
    </h2>
    <a href="/contact" class="button-solid">Get In Contact</a>
    <img
      class="mock-up desktop-display"
      src="./assets/images/bg7-compressed.png"
      alt="mockup of a website on computer desktop and phone"
    />
    <img
      class="mock-up mobile-display"
      src="./assets/images/bg7-mobile.png"
      alt="a mockup of a website on computer desktop and phone"
    />
  </div>
  <img
    aria-hidden="true"
    class="swoop light-swoop"
    src="https://d33wubrfki0l68.cloudfront.net/25e94eabb1cdec2613bd265d645dc15324bacfe8/86f45/images/landing-swoosh.svg"
    alt="swoop of landing content"
  />
</section>

<section id="what-we-do" class="section">
  <div class="what-topper">
    <div class="what-we-do-topper container">
      <h2><span>WHAT </span> WE DO</h2>
      <p>
        We're experts in creating custom web designs and developing websites for
        small businesses all over the US. We hand-code everything to make sure
        your site runs smoothly, helping to draw more customers and boost your
        business's income.

        <a href="/services">LEARN MORE</a>
      </p>
    </div>
  </div>
  <div class="what-we-do-content container">
    <div class="content">
      <div class="item">
        <img src="./assets/images/iphone-bg.webp" alt="mobile first design" />
        <h3>Mobile-First Design</h3>
        <p>
          We begin by creating your website with mobile devices as the priority,
          and then we expand and adapt it for tablet and desktop usage.
        </p>
      </div>
      <div class="item">
        <img src="./assets/images/seo-icon.webp" alt="we care about SEO" />

        <h3>SEO</h3>
        <p>
          SEO enhances site visibility in searches, increasing traffic and
          potential customers, crucial for digital presence.
        </p>
      </div>
      <div class="item">
        <img
          src="./assets/images/optimize-icon.webp"
          alt="optimization is important"
        />
        <h3>Optimization</h3>
        <p>
          Optimizing for mobile is key due to 60% of web traffic being mobile,
          ensuring better search rankings and visibility.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                    PRICING                   -->
<!-- ============================================ -->

<section id="pricing" class="section">
  <div class="container">
    <img
      class="piggy-bank"
      src="./assets/svgs/money.svg"
      alt="hand under coin saving money"
      width="300px"
    />
    <div class="left">
      <div class="left-text-group">
        <h2>
          <span>$0</span> Down, <span>$150</span> Per Month, <br />
          12 Month Minimum Contract
        </h2>
        <p>
          $0 down for a standard 5 page small business website. If you need more
          than that then we have to do custom pricing based on the scope of
          work, number of additional pages, and time involved. <br /><br />
          You own your domain, content, listing, and profiles. Cancel anytime
          with no fees or hassle.
        </p>
      </div>
      <div class="list-group">
        <div class="list-item">
          <!--SVG-->
          <div class="list-item-content">
            <h3>Hosting Fees Included</h3>
            <p>Hosting fees are built right into the monthly payment.</p>
          </div>
        </div>
        <div class="list-item">
          <!--SVG-->
          <div class="list-item-content">
            <h3>Unlimited Edits</h3>
            <p>
              Change anything you want at anytime and it will be done that day.
            </p>
          </div>
        </div>
        <div class="list-item">
          <!--SVG-->
          <div class="list-item-content">
            <h3>24/7 Customer Service</h3>
            <p>
              Call direct anytime day or night, no phone trees or automated
              responses.
            </p>
          </div>
        </div>
        <div class="list-item">
          <!--SVG-->
          <div class="list-item-content">
            <h3>Web Design & Development</h3>
            <p>Includes over 40 hours of design, development, and testing.</p>
          </div>
        </div>
        <div class="list-item">
          <!--SVG-->
          <div class="list-item-content">
            <h3>100 Google Page Speed Score</h3>
            <p>
              We can achieve a perfect 100 on Google Page Speed scores and boost
              your search ranking.
            </p>
          </div>
        </div>
        <div class="list-item">
          <!--SVG-->
          <div class="list-item-content">
            <h3>Google Analytics</h3>
            <p>
              We install Analytics for free to monitor traffic and where it
              comes from.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   PORTFOLIO                  -->
<!-- ============================================ -->

<section id="portfolio" class="section">
  <div id="portfolio2" class="container">
    <h2><span>OUR </span> PORTFOLIO</h2>
    <div class="example-group">
      <div class="example">
        <img
          srcset="../../assets/images/portfolio-hair2.png"
          sizes="(max-width: 600px) 480px, 800px"
          src="../../assets/images/portfolio-hair2.png"
          width="300px"
          alt="device mockup of a pixel perfect website i created for a rahairdesigns"
        />
        <h3>RA Hair Designs</h3>
        <h4>Phoenix, AZ</h4>
        <p>
          RA Hair Designs is a boutique hair salon in Phoenix, Arizona. Rebecca
          has been been a stlylist for over 30 years.
        </p>
        <button
          class="button-solid"
          onclick="location.href='https://www.rahairdesigns.com/'"
          type="button"
        >
          VISIT RA HAIR DESIGNS
        </button>
      </div>
      <div class="example">
        <img
          src="../../assets/images/portfolio-guitar2.png"
          width="300px"
          alt="device mockup of a pixel perfect website i created for a j alexander guitars"
        />
        <h3>J. Alexander Guitars</h3>
        <h4>Phoenix, AZ</h4>
        <p>
          J. Alexander Guitars is a custom guitar and lutherie shop in Phoenix,
          Arizona. Handcrafting one of a kind guitars.
        </p>
        <button
          class="button-solid"
          onclick="location.href='https://jalexanderguitars.com/'"
          type="button"
        >
          VISIT J. ALEXANDER GUITARS
        </button>
      </div>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   WHO WE ARE                 -->
<!-- ============================================ -->

<section id="who-we-are" class="section">
  <div class="">
    <div class="who-topper container">
      <h2><span>WHO </span> WE ARE</h2>
      <p>
        My name is Jake, I am a full time web developer and mobile developer. I
        started this business to help people like my mother and father to grow
        their small business into something they are proud of. I have spent over
        5 years learning the right way to make websites and mobile applications
        by learning to write the code myself. Now after being in business
        professionally for over 5 years I have built many websites and mobile
        applications, I have my method down to a science.
        <a href="/about">LEARN MORE</a>
      </p>
    </div>
  </div>
  <div class="spotlight container">
    <div class="partner">
      <h3>Jake A.</h3>
      <h4>Owner/Developer</h4>
    </div>
  </div>
</section>
{% include 'components/price-box.html' %} {% endblock %}
