/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1278 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: calc(850 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      /* 48px - 108px */
      gap: clamp(3rem, 5vw, 6.75rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-title {
      max-width: 20ch;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      border: none;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--primary);
      border-radius: calc(4 / 16 * 1rem);
      overflow: hidden;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }

    .cs-picture {
      width: 100%;
      /* 456px - 598px */
      height: clamp(28.5rem, 46vw, 37.375rem);
      border-radius: calc(20 / 16 * 1rem);
      overflow: hidden;
      display: block;
      /* sends it to the bottom in the 2nd position */
      order: 2;
      position: relative;
      z-index: 1;

      &:before {
        /* black overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #1a1a1a;
        opacity: 0.3;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-background {
      width: 100%;
      height: 50%;
      background-color: #1a1a1a;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1278 {
    .cs-content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: calc(32 / 16 * 1rem);
    }

    .cs-flex {
      width: 45%;
    }

    .cs-title {
      margin: 0;
    }

    .cs-text {
      width: 50%;
    }

    .cs-button-solid {
      margin-right: auto;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1278 {
    /* moved padding back to the section container */
    padding: var(--sectionPadding);

    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .cs-content {
      width: 100%;
      max-width: calc(433 / 16 * 1rem);
      margin: 0;
      flex-direction: column;
      order: 2;
      row-gap: 0;
    }

    .cs-flex {
      width: 100%;
    }

    .cs-title {
      margin: 0 0 calc(16 / 16 * 1rem) 0;
      color: var(--headerColor);
    }

    .cs-text {
      width: 100%;
    }

    .cs-picture {
      max-width: calc(738 / 16 * 1rem);
      order: 1;
    }

    .cs-background {
      width: 60vw;
      height: 100%;
      /* 172px - 336px */
      margin-right: clamp(11.125rem, 30vw, 21rem);
      left: auto;
      right: 50%;
      top: 0;
    }
  }
}

/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-12 {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: calc(60 / 16 * 1rem);
    }

    .cs-item {
      text-align: center;
      list-style: none;
      width: 100%;
      max-width: calc(360 / 16 * 1rem);
      margin: 0;
      padding: 0;
    }

    .cs-picture {
      /* 68px - 88px */
      width: clamp(4.25rem, 7vw, 5.5rem);
      height: clamp(4.25rem, 7vw, 5.5rem);
      margin: auto;
      margin-bottom: calc(32 / 16 * 1rem);
      border-radius: 50%;
      background: var(--bgGradient);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: auto;
        height: calc(42 / 16 * 1rem);
        display: block;
      }
    }

    .cs-h3 {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      text-align: inherit;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: calc(8 / 16 * 1rem);
      color: var(--headerColor);
    }

    .cs-item-text {
      font-size: calc(16 / 16 * 1rem);
      text-align: inherit;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background: var(--bgGradient);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-12 {
    .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1184 {
    padding: var(--sectionPadding);
    // background-color: #f7f7f7;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 100% at tablet */
      max-width: calc(584 / 16 * 1rem);
      background-color: #fff;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      /* 48px - 80px */
      gap: clamp(3rem, 6vw, 5rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      background-color: transparent;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      // -webkit-box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.09);
      // box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.09);
      border-radius: 0.25rem;
      // padding: 2rem;
    }

    .cs-title {
      margin: 0 0 calc(32 / 16 * 1rem) 0;
    }

    .cs-form {
      width: 100%;
      /* 24px - 48px top and bottom */
      /* 24px - 32px left and right */
      padding: clamp(1.5rem, 4vw, 3rem) clamp(1.5rem, 3vw, 2rem);
      /* prevents flexbox from affecting height and width */
      box-sizing: border-box;
      // background-color: #fff;
      background-color: #f7f7f7;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(12 / 16 * 1rem);
      -webkit-box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.09);
      box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.09);
    }

    .cs-label {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      width: 100%;
      color: var(--headerColor);
      // background-color: #fff;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: flex-start;
      gap: calc(4 / 16 * 1rem);
    }

    .cs-input {
      font-size: calc(16 / 16 * 1rem);
      width: 100%;
      // background-color: #fff;
      height: calc(56 / 16 * 1rem);
      padding: 0;
      padding-left: calc(24 / 16 * 1rem);
      color: var(--headerColor);
      // background-color: #f7f7f7;
      border: none;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      &::placeholder {
        color: #7d799c;
        opacity: 0.6;
      }
    }

    .cs-textarea {
      min-height: calc(120 / 16 * 1rem);
      padding-top: calc(24 / 16 * 1rem);
      margin-bottom: calc(12 / 16 * 1rem);
      font-family: inherit;
      background-color: #fff;
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      border: none;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--primary);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }

    .cs-submit {
      min-width: calc(283 / 16 * 1rem);
      border-radius: 3px;
      &:hover {
        cursor: pointer;
      }
    }

    .cs-background {
      background-color: #fff;
      width: 100%;
      height: 80vw;
      max-height: calc(450 / 16 * 1rem);
      display: block;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 48rem) {
  #contact-1184 {
    padding-left: 0;
    padding-right: 0;

    .cs-container {
      max-width: 100%;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      /* 16px - 52px */
      gap: clamp(1rem, 2vw, 3.25rem);
    }

    .cs-content {
      width: 45%;
      max-width: calc(542 / 16 * 1rem);
      flex: none;
    }

    .cs-background {
      height: auto;
      max-height: 100%;
    }
  }
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.paper-airplane-path {
  display: block;
  margin-top: 100px;
}

.line-box {
  height: 100px;
  width: 80%;
  border-left: 2px dashed rgba(100, 100, 100, 0.4);
  border-bottom: 2px dashed rgba(100, 100, 100, 0.4);
  position: relative;
  margin: auto;
}

.line-box:after {
  content: "";
  position: absolute;
  height: 100px;
  border-right: 2px dashed rgba(100, 100, 100, 0.4);
  right: 0;
  bottom: -100px;
  width: 10px;
}

.svg-div {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  width: 50px;
  height: auto;
  right: -20px;
  bottom: -170px;
}

.paper-airplane-path svg {
  width: 50px;
  height: auto;
  -webkit-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  transform: rotate(100deg);
}
