// // /* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */

// /*-- -------------------------- -->
// <---          Contact           -->
// <--- -------------------------- -*/

// /* Mobile - 360px */
// @media only screen and (min-width: 0rem) {
//   #contact-1184 {
//     padding: var(--sectionPadding);
//     // background-color: #f7f7f7;
//     position: relative;
//     z-index: 1;

//     .cs-container {
//       width: 100%;
//       /* changes to 100% at tablet */
//       max-width: calc(584 / 16 * 1rem);
//       background-color: #fff;
//       margin: auto;
//       display: flex;
//       justify-content: center;
//       align-items: stretch;
//       flex-direction: column;
//       /* 48px - 80px */
//       gap: clamp(3rem, 6vw, 5rem);
//     }

//     .cs-content {
//       /* set text align to left if content needs to be left aligned */
//       text-align: center;
//       width: 100%;
//       display: flex;
//       background-color: transparent;
//       flex-direction: column;
//       /* centers content horizontally, set to flex-start to left align */
//       align-items: center;
//       // -webkit-box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.09);
//       // box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.09);
//       border-radius: 0.25rem;
//       // padding: 2rem;
//     }

//     .cs-title {
//       margin: 0 0 calc(32 / 16 * 1rem) 0;
//     }

//     .cs-form {
//       width: 100%;
//       /* 24px - 48px top and bottom */
//       /* 24px - 32px left and right */
//       padding: clamp(1.5rem, 4vw, 3rem) clamp(1.5rem, 3vw, 2rem);
//       /* prevents flexbox from affecting height and width */
//       box-sizing: border-box;
//       // background-color: #fff;
//       background-color: #f7f7f7;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       gap: calc(12 / 16 * 1rem);
//       // -webkit-box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.09);
//       // box-shadow: 0 0 29px 0px rgba(220, 16, 16, 0.09);
//       // box-shadow: inset 0px 33px 25px 0 #ff0000, inset 0 66px 15px 0px #ccc,
//       //   inset 0 0px 5px 0px #fff;
//       box-shadow: 0 0 29px 4px #ffd100;
//       // linear-gradient(45deg, #ffd100, #ffeb54, #c8b41b, #c1c1c1);
//       // background: linear-gradient(45deg, var(--primary), #4b7d2d, #647c56, #c1c1c1);
//       // background-size: 800% 800%;
//       animation: GradientBackground 10s ease infinite;
//     }

//     .cs-label {
//       /* 14px - 16px */
//       font-size: clamp(0.875rem, 1.5vw, 1rem);
//       width: 100%;
//       color: var(--headerColor);
//       // background-color: #fff;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: flex-start;
//       gap: calc(4 / 16 * 1rem);
//     }

//     .cs-input {
//       font-size: calc(16 / 16 * 1rem);
//       width: 100%;
//       // background-color: #fff;
//       height: calc(56 / 16 * 1rem);
//       padding: 0;
//       padding-left: calc(24 / 16 * 1rem);
//       color: var(--headerColor);
//       // background-color: #f7f7f7;
//       border: none;
//       /* prevents padding from adding to height and width */
//       box-sizing: border-box;
//       &::placeholder {
//         color: #7d799c;
//         opacity: 0.6;
//       }
//     }

//     .cs-textarea {
//       min-height: calc(120 / 16 * 1rem);
//       padding-top: calc(24 / 16 * 1rem);
//       margin-bottom: calc(12 / 16 * 1rem);
//       font-family: inherit;
//       background-color: #fff;
//     }

//     .cs-button-solid {
//       font-size: calc(16 / 16 * 1rem);
//       /* 46px - 56px */
//       line-height: clamp(2.875em, 5.5vw, 3.5em);
//       text-decoration: none;
//       font-weight: 700;
//       text-align: center;
//       margin: 0;
//       color: #fff;
//       border: none;
//       min-width: calc(150 / 16 * 1rem);
//       padding: 0 calc(24 / 16 * 1rem);
//       background-color: var(--primary);
//       border-radius: calc(4 / 16 * 1rem);
//       display: inline-block;
//       position: relative;
//       z-index: 1;
//       /* prevents padding from adding to the width */
//       box-sizing: border-box;
//       transition: color 0.3s;

//       &:before {
//         content: "";
//         position: absolute;
//         height: 100%;
//         width: 0%;
//         background: #000;
//         opacity: 1;
//         top: 0;
//         left: 0;
//         z-index: -1;
//         border-radius: calc(4 / 16 * 1rem);
//         transition: width 0.3s;
//       }

//       &:hover {
//         color: #fff;
//         &:before {
//           width: 100%;
//         }
//       }
//     }

//     .cs-submit {
//       min-width: calc(283 / 16 * 1rem);
//       border-radius: 0;
//       &:hover {
//         cursor: pointer;
//       }
//     }

//     .cs-background {
//       background-color: #fff;
//       width: 100%;
//       height: 80vw;
//       max-height: calc(450 / 16 * 1rem);
//       display: block;
//       position: relative;

//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         position: absolute;
//         top: 0;
//         left: 0;
//       }
//     }
//   }
// }

// /* Desktop - 1024px */
// @media only screen and (min-width: 48rem) {
//   #contact-1184 {
//     padding-left: 0;
//     padding-right: 0;

//     .cs-container {
//       max-width: 100%;
//       flex-direction: row;
//       align-items: stretch;
//       justify-content: center;
//       /* 16px - 52px */
//       gap: clamp(1rem, 2vw, 3.25rem);
//     }

//     .cs-content {
//       width: 45%;
//       max-width: calc(542 / 16 * 1rem);
//       flex: none;
//     }

//     .cs-background {
//       height: auto;
//       max-height: 100%;
//     }
//   }
// }

// @keyframes GradientBackground {
//   0% {
//     background-position: 0% 50%;
//   }

//   50% {
//     background-position: 100% 50%;
//   }

//   100% {
//     background-position: 0% 50%;
//   }
// }

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1271 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: calc(584 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      /* 48px - 64px */
      gap: clamp(3rem, 5vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-form-group {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      /* resets to 0 at tablet */
      margin: auto;
      /* 20px - 32px */
      padding: clamp(1.25rem, 4vw, 2rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      background-color: #fff;
      border-radius: calc(16 / 16 * 1rem);
      box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      order: 2;
    }

    .cs-title {
      color: var(--bodyTextColorWhite);
    }

    .cs-text {
      margin: 0;
      color: var(--bodyTextColorWhite);
      opacity: 0.8;
    }

    .cs-h3 {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 700;
      text-align: left;
      max-width: calc(522 / 16 * 1rem);
      margin: 0 auto calc(32 / 16 * 1rem) 0;
      color: var(--headerColor);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-picture {
      width: calc(52 / 16 * 1rem);
      height: calc(52 / 16 * 1rem);
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: none;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0.2;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
      }
    }

    .cs-form {
      width: 100%;
      padding: 0;
      /* prevents flexbox from affecting height and width */
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: calc(12 / 16 * 1rem);
    }

    .cs-label {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      color: var(--headerColor);
      display: flex;
      grid-column: span 12;
      flex-direction: column;
      // justify-content: center;
      align-items: flex-start;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-input {
      font-size: calc(16 / 16 * 1rem);
      width: 100%;
      /* 46px - 56px */
      height: clamp(2.875rem, 4.5vw, 3.5rem);
      padding: 0;
      padding-left: calc(24 / 16 * 1rem);
      color: var(--headerColor);
      border-radius: calc(8 / 16 * 1rem);
      border: 1px solid #dad9e3;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      &::placeholder {
        color: #7d799c;
        opacity: 0.6;
      }
    }

    .cs-textarea {
      min-height: calc(120 / 16 * 1rem);
      padding-top: calc(24 / 16 * 1rem);
      margin-bottom: calc(16 / 16 * 1rem);
      font-family: inherit;
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #1a1a1a;
      border: none;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--primary);
      overflow: hidden;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }

    .cs-submit {
      width: 100%;
      margin: 0;
      color: var(--bodyTextColor);
      border-radius: calc(8 / 16 * 1rem);
      grid-column: span 12;
      &:hover {
        cursor: pointer;
        color: var(--bodyTextColorWhite);
      }
    }

    .cs-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      /* sends it to the bottom in the 2nd position */
      order: 2;
      position: relative;
    }

    .cs-card-group {
      width: 100%;
      max-width: calc(522 / 16 * 1rem);
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 16px - 20px */
      gap: clamp(1rem, 2.3vw, 1.25rem);
      order: 1;
      position: relative;
      z-index: 1;
    }

    .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      margin: 0;
      /* 16px - 20px */
      padding: clamp(1rem, 4vw, 2.5rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      background-color: #fff;
      position: relative;
      z-index: 1;

      &:hover {
        &:before {
          opacity: 1;
        }

        .cs-header,
        .cs-item-text,
        .cs-link {
          color: var(--bodyTextColorWhite);
        }

        .cs-text,
        .cs-link {
          opacity: 0.8;
        }

        .cs-link {
          &:hover {
            color: var(--primary);
          }
        }

        .cs-icon {
          filter: grayscale(1) brightness(1000%);
        }
      }

      &:before {
        /* hover border and background */
        content: "";
        width: 100%;
        height: 100%;
        background: #1a1a1a;
        border: 1px solid var(--primary);
        opacity: 0;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
        transition: opacity 0.3s;
      }
    }

    .cs-header {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      text-align: inherit;
      font-weight: 700;
      /* 12px - 16px */
      margin: 0 0 clamp(0.75rem, 1.6vw, 1rem);
      display: block;
      transition: color 0.3s;
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-align: inherit;
      margin: 0 0 calc(4 / 16 * 1rem);
      color: var(--bodyTextColor);
      display: block;
      transition: color 0.3s;
    }

    .cs-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-align: inherit;
      margin: 0;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: calc(4 / 16 * 1rem);
      transition: color 0.3s;
    }

    .cs-icon {
      width: calc(16 / 16 * 2rem);
      height: auto;
    }

    .cs-background {
      width: 100%;
      height: 100vh;
      background-color: #1a1a1a;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--bodyTextColor);
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1271 {
    .cs-label {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        grid-column: span 6;
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1271 {
    /* moved padding back to the section container */
    padding: var(--sectionPadding);

    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .cs-content {
      text-align: left;
      margin: 0;
      padding: 0;
      align-items: flex-start;
    }

    .cs-title {
      color: var(--headerColor);
    }

    .cs-text {
      color: var(--bodyTextColor);
      opacity: 1;
    }

    .cs-form-group {
      width: 43%;
      max-width: calc(522 / 16 * 1rem);
      margin: 0;
    }

    .cs-form {
      padding: 0;
    }

    .cs-wrapper {
      width: 50%;
      max-width: calc(630 / 16 * 1rem);
      flex: none;
      /* sends it to the left in the 1st position */
      order: 1;
      /* removes position from it so the absolutely positioned background group can now be positioned relative to the section container */
      position: initial;
    }

    .cs-background {
      width: 60vw;
      height: 100%;
      /* 172px - 228px */
      margin-left: clamp(11.125rem, 30vw, 14.25rem);
      right: auto;
      left: 50%;
      top: 0;

      img {
        border-bottom-left-radius: 1%;
      }
    }

    .cs-card-group {
      padding: 0;
    }
  }
}

/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-823 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
#list-823 {
  width: 100%;
  max-width: 100%;
  /* 32px - 36px */
  margin: 0 0 clamp(2rem, 4vw, 2.25rem) 0;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* 24px - 32px */
  row-gap: clamp(1.5rem, 4vw, 2rem);

  .cs-li {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    list-style: none;
    line-height: 1.5em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(32 / 16 * 1rem);
  }
}
